  

<head>
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">

</head>

<!--<h1>rjidkkr</h1
<div class="navbar t-white">
      <input type="checkbox" id="open">
      <label for="open" class="openbtn">
        ≡
      </label>
      <label class="logo">Artic</label>
      <ul id="ul" class="t-white dark-grey">
        <li><a class="active t-white" href="#">Home</a></li>
        <li><a href="#" class="t-white">About</a></li>
        <li><a href="#" class="t-white">Services</a></li>
        <li><a href="#" class="t-white">Contact</a></li>
        <li><a href="#" class="t-white">Feedback</a></li>
      </ul>
    </div>-->

<header>
<div>
<h1>Dev.<br>Connect</h1>
<b><p>Connect, Build, Interact and Deploy</p></b>
</div>
</header>

<div class="how-it-works">
<center>
<h2>HOW IT WORKS</h2></center>
<br><br>
<div class="flexed">
<font color="#d96846"><i class="fa fa-users"></i></font>
<p><b>Connect</b><br>
Get in-touch with a fellow developer and make your business or project proposal.
</p>
</div>
<div class="flexed">
<font color="dodgerblue"><i class="fab fa-dropbox"></i></font>
<p><b>Build</b><br>
Start your creative processes and get right into building your web pages and projects.
</p>
</div>
<div class="flexed">
<font color="teal"><i class="fab fa-gitlab"></i></font>
<p><b>Interact</b><br>
Get in-touch with a fellow developer and make your business or project proposal.
</p>
</div>
<div class="flexed">
<font color="royalblue"><i class="fa fa-globe"></i></font>
<p><b>Deploy</b><br>
Now everything is done, its time for you and your team to deploy/host your projects.
</p>
</div>


</div>


<div class="get-started">
<h2>GET STARTED</h2>
<hr width="20%"><br><br>
<center>
<div id="get-started">

<div>
<div class="img">
<img src="ffe7d31e-account-audit-01_10c20c2000000000000028.png"></div>
<br>
<h2>Sign Up</h2>
</div>
<div>
<div class="img">
<img src="7..-800x571.png"></div>
<br>
<h2>Peer Up</h2>
</div>
<div>
<div class="img">
<img src="app-page.685f59a8.png"></div>
<br>
<h2>Build Up</h2>
</div>
<div>
<div class="img">
<img src="Saly-1-768x621.png"></div>
<br>
<h2>Deploy</h2>
</div>
</div>
</div>
</div>
<center>
<br><br><br>
<h2>SERVICES</h2>

</center>
<div class="carousel1">
<div class="carousel2">
   <div class="carousel">
<br><br>
<h3>All purpose code editor</h3>
<i class="fa fa-window"></i>
</div>
 <div class="carousel">
<br><br>
<h3>Web developer connect system</h3>
<i class="fab fa-whatsapp"></i>
</div>
 <div class="carousel">
<br>
<h3>Tools for quick and effective <br>web development</h3>
<i class="fa fa-tools"></i>
</div>
 <div class="carousel">
<br><br>
<h3>Editable templates and widgets </h3>
<i class="fa fa-pen"></i>
</div>
 
</div>

</div>





<style>
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
header {
padding: 1em;
display: flex;
justify-contnt: center;
align-items: center;
height: 350px;
background: url('/PngItem_3345623.png'), linear-gradient(#f4f2f3, #fff); 
background-size: cover;


}
header h1, header p {
mix-blend-mode: difference;
color: #fff;
}
.img {
width: 70%;
height: auto;
border-radius: 5px;
overflow: hidden;
margin: 0 !important;
}
.img img {
width: 100%;
}
.how-it-works {
padding: 2em;
margin-bottom: 3em;
}
.how-it-works h2 {
text-align: center;
}
.how-it-works .flexed{
display: flex;
padding-bottom: 1.2em;
}
.how-it-works .flexed font {
width: 20%;
font-size: 2em;

}

.how-it-works .flexed p {
width: 80%;
line-height: 1.5em;
}


.get-started {
background: #f6f4e8;
padding: 1.5em;
}
#get-started div {
margin-bottom: 3em;
}
#get-started {

display: grid;
place-items: center;
}
.get-started h2, .get-started p {
color: #fff;
mix-blend-mode: difference;
}

.carousel1 {
position: relative;
overflow: scroll;
width: 93%;
padding: 2vh;
}
.carousel2 {
white-space: nowrap;
}
.carousel {
background: #333;
padding: 3vh;
box-shadow: -3px 7px 15px #ddd;
transition: all.2s;
display: inline-block;
border: 1px solid #ddd;
border-radius: 8px;
overflow: hidden;
text-align: center;
justify-content: center;
align-items: center;

color: #fff;
height: 10em;
}
.carousel i {
font-size: 2em;
}

.carousel:hover {
transform: scale(1.2);
}
.carousel:hover {
opacity: 0.6;
}










.bottom-nav {
height: 60px;
width: 100%;
position: sticky;
bottom: -5px;
background: #fff;
box-shadow: 5px 5px 10px #000;
display: flex;
justify-contnt: center;
align-items: center;

}
.bottom-nav li {
display: block;
width: 100%;
text-align: center;
font-size: 1.4em;
}

@media screen and (min-width: 481px) {
.bottom-nav {
display: none;
}
.how-it-works {
display: grid;
grid-template-columns: repeat(2, 1fr);
}
#get-started  {
display: grid;
grid-template-columns: repeat(2, 1fr);
}

}
/*
.navbar {
  height: 0px;
  width: 100%;
background: #f4f2f3;

position: ;
}
.navbar label.logo{
  
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navbar ul li a{
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.openbtn{
  font-size: 30px;
 
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#open{
  display: none;
}
@media (max-width: 952px){
  .navbar label.logo{
    font-size: 30px;
    padding-left: 30px;
  }
  .navbar ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .openbtn{
    display: block;
  }
.navbar {display: noe;}
  .navbar ul{
    position: fixed;
    width: 100%;
    height: 100vh;
   background: #f4f2f3;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
  }
  .navbar ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navbar ul li a{
    font-size: 20px;
   color: #333;
   text-decoration: none;
  }
  
  #open:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
</style>

<div class="bottom-nav" style="color: #333">


<li><a><i class="fa fa-home"></i></a></li>

<li><a><i class="fa fa-box"></i></a></li>

<li><a><i class="fa fa-plus-circle"></i></a></li>

<li><a><i class="fa fa-window"></i></a></li>

<li><a><i class="fab fa-whatsapp"></i></a></li>

</div>

